# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
*.md filter=lfs diff=lfs merge=lfs -text
*.editorconfig filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.cs filter=lfs diff=lfs merge=lfs -text
*.uid filter=lfs diff=lfs merge=lfs -text
*.csproj filter=lfs diff=lfs merge=lfs -text
*.sln filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.Unnamed filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.import filter=lfs diff=lfs merge=lfs -text
*.d2 filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.tscn filter=lfs diff=lfs merge=lfs -text
*.rs filter=lfs diff=lfs merge=lfs -text
*.godot filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
*.toml filter=lfs diff=lfs merge=lfs -text
*.gitkeep filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.py !text !filter !merge !diff
*.rs !text !filter !merge !diff
*.cs !text !filter !merge !diff
*.uid !text !filter !merge !diff
*.ps1 !text !filter !merge !diff
*.tscn !text !filter !merge !diff
*.csproj !text !filter !merge !diff
*.toml !text !filter !merge !diff
*.md !text !filter !merge !diff
*.h !text !filter !merge !diff
*.godot !text !filter !merge !diff
*.import !text !filter !merge !diff
*.json !text !filter !merge !diff
*.svg !text !filter !merge !diff
*.gitkeep !text !filter !merge !diff
*.sln !text !filter !merge !diff
*.bin !text !filter !merge !diff
*.targets !text !filter !merge !diff
*.props !text !filter !merge !diff
*.txt !text !filter !merge !diff
*.xml !text !filter !merge !diff
*.runsettings !text !filter !merge !diff
*.md5 !text !filter !merge !diff
*.ctex !text !filter !merge !diff
*.cfg !text !filter !merge !diff
*.res !text !filter !merge !diff
*.gdignore !text !filter !merge !diff
*.editorconfig !text !filter !merge !diff
