# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
*.editorconfig filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.cs filter=lfs diff=lfs merge=lfs -text
*.csproj filter=lfs diff=lfs merge=lfs -text
*.Tests filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.runsettings filter=lfs diff=lfs merge=lfs -text
*.Up2Date filter=lfs diff=lfs merge=lfs -text
*.cache filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.props filter=lfs diff=lfs merge=lfs -text
*.targets filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.OpenVisualStudio filter=lfs diff=lfs merge=lfs -text
*.nupkg filter=lfs diff=lfs merge=lfs -text
*.snupkg filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.htm filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.Unnamed filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.import filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.d2 filter=lfs diff=lfs merge=lfs -text
*.sln filter=lfs diff=lfs merge=lfs -text
*.gitkeep filter=lfs diff=lfs merge=lfs -text
*.godot filter=lfs diff=lfs merge=lfs -text
*.tscn filter=lfs diff=lfs merge=lfs -text
*.uid filter=lfs diff=lfs merge=lfs -text
*.toml filter=lfs diff=lfs merge=lfs -text
*.rs filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.ps1 filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
*.gdignore filter=lfs diff=lfs merge=lfs -text
*.cfg filter=lfs diff=lfs merge=lfs -text
*.res filter=lfs diff=lfs merge=lfs -text
/.godot/editor/filesystem_cache10 filter=lfs diff=lfs merge=lfs -text
/.godot/editor/recent_dirs filter=lfs diff=lfs merge=lfs -text
*.ctex filter=lfs diff=lfs merge=lfs -text
*.md5 filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.Node filter=lfs diff=lfs merge=lfs -text
/godot-project/.godot/editor/filesystem_cache10 filter=lfs diff=lfs merge=lfs -text
/godot-project/.godot/editor/filesystem_update4 filter=lfs diff=lfs merge=lfs -text
*.py !text !filter !merge !diff
*.rs !text !filter !merge !diff
*.cs !text !filter !merge !diff
*.uid !text !filter !merge !diff
*.ps1 !text !filter !merge !diff
*.tscn !text !filter !merge !diff
*.csproj !text !filter !merge !diff
*.toml !text !filter !merge !diff
*.md !text !filter !merge !diff
*.h !text !filter !merge !diff
*.godot !text !filter !merge !diff
*.import !text !filter !merge !diff
*.json !text !filter !merge !diff
*.svg !text !filter !merge !diff
*.gitkeep !text !filter !merge !diff
*.sln !text !filter !merge !diff
*.bin !text !filter !merge !diff
*.targets !text !filter !merge !diff
*.props !text !filter !merge !diff
*.txt !text !filter !merge !diff
*.xml !text !filter !merge !diff
*.runsettings !text !filter !merge !diff
*.md5 !text !filter !merge !diff
*.ctex !text !filter !merge !diff
*.cfg !text !filter !merge !diff
*.res !text !filter !merge !diff
*.gdignore !text !filter !merge !diff
*.editorconfig !text !filter !merge !diff
